spring:
  application:
    name: config-server
  rabbitmq:
    port: 5672
    host: localhost
    username: ${RABBITMQ_USER}
    password: ${RABBITMQ_PASSWORD}
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:///C:\Users\PC\Desktop\polyClinicSystem\config-server\src\main\resources\config

server:
  port: 8082
