spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8443/realms/poly-clinic-system

  cloud:
    gateway:
      mvc:
        routes:
          - id: appointment-service
            uri: lb://APPOINTMENT-SERVICE
            predicates:
              - Path=/api/appointments/**

          - id: prescription-service
            uri: lb://PRESCRIPTION-SERVICE
            predicates:
              - Path=/api/prescriptions/**,/api/records/**

          - id: notification-service
            uri: lb://NOTIFICATION-SERVICE
            predicates:
              - Path=/api/notifications/**

          - id: payment-service
            uri: lb://PAYMENT-SERVICE
            predicates:
              - Path=/api/payments/**

          - id: user-management-service
            uri: lb://USER-MANAGEMENT-SERVICE
            predicates:
              - Path=/api/rooms/**,/api/departments/**,/api/doctors/**,/api/nurses/**,/api/patients/**,/api/users/**

          - id: eureka-server
            uri: http://localhost:8761
            predicates:
              - Path=/eureka/main
            filters:
              - name: RewritePath
                args:
                  regexp: /eureka/main
                  replacement: /

          - id: eureka-server-static
            uri: http://localhost:8761
            predicates:
              - Path=/eureka/**

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG

