spring:
  datasource:
    url: ${DB_URI}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    port: 5672
    host: localhost
    username: ${RABBITMQ_USER}
    password: ${RABBITMQ_PASSWORD}


  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: >
          paymentConfirmed:polyClinicSystem.example.notification_service.dto.event.PaymentConfirmedEvent,
          appointmentScheduled:polyClinicSystem.example.notification_service.dto.event.AppointmentScheduledEvent,
          appointmentRejected:polyClinicSystem.example.notification_service.dto.event.AppointmentRejectedEvent,
          appointmentCancelled:polyClinicSystem.example.notification_service.dto.event.AppointmentCancelledEvent,
          appointmentCompleted:polyClinicSystem.example.notification_service.dto.event.AppointmentCompletedEvent

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:your-email@gmail.com}
    password: ${MAIL_PASSWORD:your-app-password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  


# Kafka Topics
kafka:
  topics:
    appointment-payment-created: appointment.payment.created
    appointment-scheduled: appointment.scheduled
    appointment-rejected: appointment.rejected
    appointment-cancelled: appointment.cancelled
    appointment-completed: appointment.completed

# Email Configuration
notification:
  email:
    from: noreply@polyclinic.com
    enabled: true
  sms:
    enabled: false # Set to true when SMS service is configured





server:
  port: 8085

management:
  endpoints:
    web:
      exposure:
        include: "*"
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG






